@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  font-family: Lato, sans-serif;
  box-sizing: border-box;
}

:root {
  --primary: #12263a;
  --primary--light: #fafbfc;
  --main-box-shadow: 0 2px 5px rgb(18 38 58 / 10%);
  --main-box-shadow-2: 0 2px 5px rgb(18 38 58 / 20%);
  --main-box-shadow-3: 0 2px 5px rgb(18 38 58 / 30%);
  --main-box-shadow-4: 0 2px 5px rgb(18 38 58 / 40%);
  --main-padding: 4px;
  --main-padding-2: 8px;
  --text-color: #12263a;
}
