@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@import './transitions';

* {
  font-family: Lato, sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --primary: #12263a;
  --danger: #fc947a;
  --danger-text: hsl(12deg 95% 60%);
  --danger-bg: hsl(12deg 95% 73% / 20%);
  --success: #65de8b;
  --success--darker: #42d771;
  --icon-color-primary: #12263a;
  --highlight: #2a5989;
  --primary--light: #fafbfc;
  --main-box-shadow: 0 2px 5px rgb(18 38 58 / 10%);
  --main-box-shadow-2: 0 2px 5px rgb(18 38 58 / 20%);
  --main-box-shadow-3: 0 2px 5px rgb(18 38 58 / 30%);
  --main-box-shadow-4: 0 2px 5px rgb(18 38 58 / 40%);
  --box-shadow--danger: 0 0 0 0.25rem rgb(252 148 122 / 25%);
  --main-spacing: 4px;
  --main-spacing-2: 8px;
  --main-spacing-3: 16px;
  --main-spacing-4: 24px;
  --main-spacing-5: 32px;
  --main-spacing-6: 40px;
  --text-color: #12263a;
  --text-color--light: #fff;
  --text-color--darker: #707070;
  --main-bg-color: #f2f2f2;
  --light-bg-color: #fff;
  --header-height: 75px;
  --border-radius: 8px;
  --border-color--muted: rgb(18 38 58 / 20%);
  --border-color--muted-3: rgb(18 38 58 / 30%);
  --border-color--muted-4: rgb(18 38 58 / 40%);
  --border-color--light: #fafbfc;
  --font-size--xs: 14px;
  --sidebar-width: 100px;
}
